@media (min-width: 48rem) {

  #menuBtn {
    display: none;
  }

  nav {
    display: flex !important;
    flex-direction: row;
    gap: 1rem;
  }

  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .gallery {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
}
